.App {
  text-align: center;
}

.App h1 {
  margin-top: 50px;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.app-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.app-form .form-apartamento {
  max-width: 650px;
  min-width: 350px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-form .form-apartamento .app-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-form .form-apartamento .app-form-buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.app-form .form-apartamento .app-form-buttons .btn-adicionar {
  margin-left: 10px;
  background: #385170;
  color: #ddd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.app-form .form-apartamento .app-form-buttons .btn-adicionar:hover {
  color: #ddd;
  opacity: 0.7;
}

.app-form .form-apartamento .app-form-buttons .btn-limpar {
  color: #385170;
  background: #ddd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.app-form .form-apartamento .app-form-buttons .btn-limpar:hover {
  opacity: 0.7;
  color: #385170;
}

.listagem-cards {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listagem-cards .apartamento-card {
  width: 250px;
  margin: 20px;
}
/*# sourceMappingURL=App.css.map */